<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuan.mall.mapper.UmsAdminMapper">
    <insert id="addLoginLog">
        insert into ums_admin_login_log
        (admin_id, create_time, ip, address, user_agent)
        value ( ${adminId}, now(), "${ip}", ${address}, ${userAgent})
    </insert>

    <select id="selectRolesById" resultType="com.yuan.mall.entity.ums.UmsRole">
        SELECT
            b.*
        FROM
            ums_admin_role_relation a
                LEFT JOIN ums_role b ON a.role_id = b.id
        WHERE
            a.admin_id = 10
    </select>

</mapper>